h2 {
    color: rgb(27, 13, 41);
    display: flex;
    margin-left: 25%;
}

.complete {
    display: none;
    position: fixed;
    margin-left: 70%;
    color: #6CA589;
}

label {
    color: rgb(27, 13, 41);
    display: inline-block;
    margin-left: 25%;
    margin-top: 4vh;
    vertical-align: top;
}

textarea {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7%;
    margin-top: 4vh;
    width: 30%;
    font-size: 15px;
}

.incorrect {
    display: flex;
    position: fixed;
    color: red;
    font-size: 15px;
    margin-left: 40%;
}

.task textarea {
    text-align: justify;
    margin-left: 6.8%;
    height: 15vh;
}

input {
    display: inline-block;
    margin-left: 2.8%;
    margin-top: 4vh;
    width: 30.2%;
}

.button {
    color: rgb(45, 43, 86);
    margin: 5% 33%;
}

.button input {
    justify-content: center;
    width: 30vw;
}